/* custom css applied on top of bootstrap framework */
/* testing github as well */

body {
    background-color: #edcfa9;
    font-family: "Nunito", sans-serif;
}

#mainNav .nav-link {
    color: white;
}

#mainNav .nav-link:hover {
    color: #aa4a30;
}

#mainNav .navbar-brand {
    color: #aa4a30;
    font-size: 1.5rem;
    font-weight: 100;
}

.heading span {
    color: #aa4a30;
}

.heading h2 {
    font-size: 3rem;
}

@media (max-width: 1200px) {
    .heading h2 {
        font-size: 2rem;
    }
}

.blurb h2 {
    color: #aa4a30;
    font-size: 2.5rem;

}

.blurb p {
    color: #734046;
    line-height: 2.5rem;
}

.navbar.scrolled {
    background: #e79e4f;
    transition: background 1.25s;
}
